@model ProjeOrganikBesinlerPazari.Models.Cart





<ul class="navbar-nav my-2 my-lg-0" style="color:white;background-color:white; padding-left:5px; margin-left:97%; width:60px; height:25px;">

    <li class="nav-item" style="color:red;   ">
        <a href="~/Cart/Index">

            <h6>Sepet</h6>
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.CartLines.Count)
        </a>
    </li>




</ul>