< xmlns="http://www.w3.org/1999/xhtml">
<script src="~/Scripts/Js/Js/Ajax.js"></script>
<script src="~/Scripts/Js/Js/MyJs.js"></script>

<script src="~/Scripts/Js/Js/JavaScript.js"></script>

<title>Urunler</title>




<h2>urun</h2>

<div>

    <input type="text" id="LabelUrun" />

    <button id="BtnGoster" onclick="UrunGoster()"> </button>

</div>

<div>

    <p>urun Ad : <strong id="TxtAd"></strong> </p>
    <p>urun Fiyat : <strong id="TxtFiyat"></strong> </p>


</div>









